{% match student.get_presence() %}
{% when epitok::student::Presence::Present %}
{% include "cards/presence/present_active.html" %}
{% include "cards/presence/missing.html" %}
{% include "cards/presence/not_applicable.html" %}
{% include "cards/presence/none.html" %}
{% when epitok::student::Presence::Missing %}
{% include "cards/presence/present.html" %}
{% include "cards/presence/missing_active.html" %}
{% include "cards/presence/not_applicable.html" %}
{% include "cards/presence/none.html" %}
{% when epitok::student::Presence::NotApplicable %}
{% include "cards/presence/present.html" %}
{% include "cards/presence/missing.html" %}
{% include "cards/presence/not_applicable_active.html" %}
{% include "cards/presence/none.html" %}
{% when _ %} {# this is for None and Failed #}
{% include "cards/presence/present.html" %}
{% include "cards/presence/missing.html" %}
{% include "cards/presence/not_applicable.html" %}
{% include "cards/presence/none_active.html" %}
{% endmatch %}