<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
{% include "navbar.html" %}
<div id="main" class="container">
    <h1>{{ event.title()|e }}</h1>
    <h2>{{ event.module()|e }}</h2>
    <p>Starts at <b>{{ event.start()|e }}</b> and finishes at <b>{{ event.end()|e }}</b></p>
    <p><a class="card-link" href="https://intra.epitech.eu{{ event.intra_page()|e }}">See event on intra</a></p>

    <p>
        <button id="save" class="btn btn-outline-primary">Save</button>
        <button class="btn btn-outline-success">Set all as Present</button>
        <button class="btn btn-outline-danger">Set all as Missing</button>
    </p>

    <div id="callback-save">
        <div></div>
    </div>

    <div id="alert-success" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none">
        <strong>Changes saved</strong> You can do something else now.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="alert-failure" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none">
        <strong>Could not save changes</strong> put reason here
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Login</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for student in event.students %}
            <tr>
                <td>{{ student.get_name()|e }}</td>
                <td>{{ student.get_login()|e }}</td>
                <td>
                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                        {% include "cards/student-presence.html" %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% include "footer.html" %}
<script>
    // When save button is clicked
    $("#save").click(function () {
        let URL = window.location.href + "/save";
        fetch(URL, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            // Convert HTML form to JSON array
            body: JSON.stringify($('form').serializeArray()),
        })
            .then(function (response) {
                if (!response.ok) {
                    response.json().then(data => {
                        $("#callback-save div").html(data);
                    });
                    throw Error(response.statusText);
                }
                return response;
            }).then(function (response) {
            console.log("ok");
            $("#callback-save div").html("all good");
        }).catch(function (error) {
            console.log(error);
            $("#callback-save div").html(error);
        });
    });
</script>
</body>
</html>