<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
{% include "navbar.html" %}
<div id="main" class="container">
    <h1>{{ event.title()|e }}</h1>
    <h2>{{ event.module()|e }}</h2>
    <p>Starts at <b>{{ event.start()|e }}</b> and finishes at <b>{{ event.end()|e }}</b></p>
    <p><a class="card-link" href="https://intra.epitech.eu{{ event.intra_page()|e }}">See event on intra</a></p>

    <button id="save" class="custom-shadow margin-shadow btn btn-outline-primary">Save</button>
    <button id="scan" class="custom-shadow margin-shadow btn btn-outline-secondary">Scan QR codes</button>

    <div class="btn-group" role="group">
        <button id="set-all-present" class="custom-shadow margin-shadow btn btn-outline-success">Set all as Present
        </button>
        <button id="button-set-all-dropdown" type="button"
                class="custom-shadow margin-shadow btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="button-set-all-dropdown">
            <button id="set-all-missing" class="dropdown-item btn btn-danger">Missing</button>
            <button id="set-all-not-applicable" class="dropdown-item btn btn-warning">N/A</button>
            <button id="set-all-none" class="dropdown-item btn btn-secondary">None</button>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button id="set-remaining-missing" class="custom-shadow margin-shadow btn btn-outline-danger">Set remaining as
            Missing
        </button>
        <button id="button-set-remaining-dropdown" type="button"
                class="custom-shadow margin-shadow btn btn-outline-danger dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="button-set-all-dropdown">
            <button id="set-remaining-present" class="dropdown-item btn btn-success">Present</button>
            <button id="set-remaining-not-applicable" class="dropdown-item btn btn-warning">N/A</button>
        </div>
    </div>

    <div id="callback-save"></div>

    <form>
        <table class="table table-sm table-responsive-sm">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Login</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for student in event.students %}
            <tr>
                <td>{{ student.get_name()|e }}</td>
                <td>{{ student.get_login()|e }}</td>
                <td>
                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                        {% include "cards/student-presence.html" %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% include "footer.html" %}
<script>
    $("#save").click(function () {
        $("#callback-save div").alert('close');
        let URL = window.location.href + "/save";
        fetch(URL, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify($('form').serializeArray()),
        })
            .then(function (response) {
                if (!response.ok) {
                    response.json().then(data => {
                        $("#callback-save").html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Could not save changes</strong> ' + data + '.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    });
                    throw Error("this is normal, by throwing this error the error alert will show up.");
                }
                return response;
            }).then(function (response) {
            $("#callback-save").html('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Changes saved</strong> You can do something else now.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
        }).catch(function (error) {
            $("#callback-save").html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Could not save changes</strong> ' + error + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
        });
    });

    /**
     * Set all students as the same presence status
     * @param presence - student login
     */
    function setAll(presence) {
        for (let field of document.getElementsByTagName("form")[0].elements) {
            if (field.value === presence) {
                field.checked = true;
                field.parentElement.classList.add("active");
            } else {
                field.checked = false;
                field.parentElement.classList.remove("active");
            }
        }
    }

    /**
     * Set specific student a presence status
     * @param login - student login
     * @param presence - presence as seen in epitok (name of the enum value)
     */
    function setStudent(login, presence) {
        for (let field of document.getElementsByTagName("form")[0].elements) {
            if (field.name === login) {
                if (field.value === presence) {
                    field.checked = true;
                    field.parentElement.classList.add("active");
                } else {
                    field.checked = false;
                    field.parentElement.classList.remove("active");
                }
            }
        }
    }

    $("#set-all-present").click(function () {
        setAll("Present");
    });

    $("#set-all-missing").click(function () {
        setAll("Missing");
    });

    $("#set-all-not-applicable").click(function () {
        setAll("NotApplicable");
    });

    $("#set-all-none").click(function () {
        setAll("None");
    });
</script>
</body>
</html>