<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
{% include "navbar-pub.html" %}
<div id="main" class="container">
    <h1 class="display-4">epitok</h1>
    <p class="lead">Welcome to epitok! It's a tool to replace tokens at Epitech.</p>

    <hr class="my-4">

    <noscript>
        <div class="alert alert-warning" role="alert">
            Please enable JavaScript to use all features.
        </div>
    </noscript>

    <h2>Sign in</h2>

    <p>
        Use your Epitech intra account to sign in with an autologin link.
        Get it using the button bellow:
    </p>
    <a class="custom-shadow margin-shadow btn btn-outline-primary" role="button" href="https://intra.epitech.eu/admin/autolog"
       aria-pressed="true" target="_blank" style="margin-top: 0">Autologin link (intra)</a>

    <form class="needs-validation" action="/auth/signin" method="post" enctype="application/x-www-form-urlencoded"
          novalidate>
        <div class="form-group">
            <input id="autologinInput" class="form-control" type="text" name="autologin"
                   pattern="^(https://intra.epitech.eu/auth-)([a-z0-9]{40})$"
                   placeholder="Enter autologin link" aria-describedby="autologinHelp" required>
            <div class="invalid-feedback">Invalid format, please verify your autologin link.</div>
            <small id="autologinHelp" class="form-text text-muted">Your autologin link is stored on your device as a
                cookie. <b>epitok</b> doesn't log any private information.</small>
        </div>

        <button id="signin-button" class="custom-shadow margin-shadow btn btn-outline-primary" type="submit">Sign in</button>
    </form>
</div>
{% include "footer.html" %}
<script src="/static/sign_in.js"></script>
</body>
</html>